body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 76px;
}

main h1,
main h2,
main h3,
main p {
    margin: auto;
    text-align: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
    min-width: 70%;
    width: max-content;
}

td,
th {
    border: 1px solid rgb(221, 221, 221);
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(150, 150, 150);
    color: rgb(50, 50, 50);
}

tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.2);
}

td {
    width: 100%;
}

td:last-child {
    width: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.carrito-sacar-producto,
.carrito-agregar-producto {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
}

.carrito-sacar-producto svg,
.carrito-agregar-producto svg {
    width: 1.5rem;
    height: 1.5rem;
}



.listado-compras {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0 10%;
    width: 100%;
    align-items: center;
}

.boton-ver-producto {
    margin: 0 10px;
    padding: 5px;
}

.botones-carrito {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.boton-vaciar {
    padding: 5px 10px;
    width: fit-content;
    background-color: #e43434;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
}

.boton-pagar {
    padding: 5px 10px;
    width: fit-content;
    background-color: #2aec2a;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
}



@media screen and (max-width: 600px) {
    body {
        padding-top: 0;
    }

}