.detalle-producto{
  margin: auto;
  margin-top: 10vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detalle-producto-encabezado{

}
.detalle-producto-titulo{
  text-decoration: underline;
}
.detalle-producto-descripcion{

}
.detalle-producto-precio{
  font-weight: bold;

}
.detalle-producto-imagen{

}
.detalle-producto-boton{
  font-family: "Segoe UI", sans-serif;
    font-size: 1.05rem;
    font-weight: 600;
    background-color: hsl(180, 100%, 97%);
    border: none;
    border-radius: 5px;
    padding: 5px 10px 7px;
    margin: auto;
    margin-bottom: 5px;
}