/* @import url("https://unpkg.com/aos@2.3.1/dist/aos.css"); */


.precio {
    font-weight: 700;
    font-size: 1.2rem;
}

.product-card h3{
    font-size: 1.4rem;
    padding: 0.4rem;
}

.product-card img {
    height: auto;
}

.products-title{
    text-transform: capitalize;
}

.tags-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.tag{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 0.85rem;
    background-color: burlywood;
    border-radius: 15px;
}


@media screen and (max-width: 600px) {
    body{
        padding-top: 0;
    }

}