/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

















/* NUEVOS ESTILOS AGREGADOS */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #0a0a0ac5;
    color: white;
    font-family: "Segoe UI", sans-serif !important;
    width: 100vw;
    max-width: 100%;
}



a {
    text-decoration: none;
}

main {
    width: 100%;
}

.navbar {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;

    justify-content: center;

    gap: 20px;
    padding: 0.5rem 2rem;
    background-color: hsl(180, 100%, 97%);


}

.navbar a {
    font-weight: 500;
    color: #0a0a0a;
    padding: 5px 2px;
}

.nav-logo {
    margin-right: auto;
    /* background-color: hsl(56, 100%, 50%); */
    padding: 10px 10px 5px 10px;
    border-radius: 20%;
}

.nav-svg-logo {
    width: 50px;
}

.nav-svg-shop {
    width: 30px;
}




.hero {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.hero-container {
    position: relative;
    height: 100%;
}

.hero-picture {
    height: 100%;
}

.hero-picture img {
    min-height: 100%;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: fit-content;
    position: absolute;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    padding: 0 10px 10px 10px;
}

.hero-title::before {
    box-sizing: content-box;
    content: '';
    position: absolute;
    z-index: -1;
    top: -10px;
    right: -10px;
    bottom: -20px;
    left: -10px;
    border: solid 1.5em transparent;
    background-color: rgba(10, 10, 10, 0.1);
    box-shadow: 0px 0px 5px rgba(10, 10, 10, 0.1);
    backdrop-filter: blur(3px);
}


.hero-title h1 {
    font-size: calc(3rem + 1vw);
    text-shadow: 2px 2px 3px #0a0a0a;
}
.hero-title h1:hover {
    color: hsl(59, 100%, 84%);
}

.hero-title h2 {
    font-size: calc(1.5rem + 0.5vw);
    text-shadow: 2px 2px 3px #0a0a0a;
}
.hero-title h2:hover {
    color: hsl(59, 100%, 84%);
}

.products {
    padding: 1rem;
}

.products-title {
    display: flex;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.products-title h2 {
    color: hsl(60, 100%, 65%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 1.7rem;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.product-card {
    /* border: white solid; */
    max-width: 500px;
    min-height: 550px;
    border-radius: 7%;
    padding: 10px;
    display: flex;
    flex-direction: column;


    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.product-card:hover {
    transform: scale(1.02);
    background-color: hsla(0, 0%, 100%, 0.2);
}

.product-card img {
    width: 100%;
    border-radius: 10%;
}

.product-card h3 {
    margin: auto;
}

.product-card p {
    padding: 0 1.6rem 1rem;
}

.product-btn-agregar {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.05rem;
    font-weight: 600;
    background-color: hsl(180, 100%, 97%);
    border: none;
    border-radius: 5px;
    padding: 5px 10px 7px;
    margin: auto;
    margin-bottom: 5px;
}

.product-btn-detalle{
    font-family: "Segoe UI", sans-serif;
    color: #ffffff;
    font-size: 1.05rem;
    font-weight: 600;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 7px;
    margin: auto;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
}


.about {
    padding: 4rem;
}

.about-title {
    margin: 1.5rem 0 0;
    font-size: 1.7rem;
    text-decoration: underline;
}

.about-content {
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.about-content p{
    margin: 1rem 0;
}


.footer{
    padding: 2rem 3rem;
    background-color: hsl(180, 100%, 97%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-section{
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #0a0a0ac5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.footer-section h5{
    margin: 0.1rem 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #0a0a0ac5;
    display: flex;
    flex-direction: column;
}
.footer-section svg{
    width: 1.5rem;
    transform: translateY(2px);
    margin-right: 5px;
}
.footer-section a{
    color: rgb(32, 25, 116);
    padding: .2rem 0;
    display: flex;
    align-items: center;
}
.oculto{
    display: none;
}







@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .hero-title {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0 10px 10px 10px;
    }

    .oculto{
        display: flex;
        flex-direction: column;
    }

}